@using WordleAPI
@using WordleAPI.Classes
@page "/"
@inject DataBase db
@inject Services.SpinnerService SpinnerService
@inject HttpClient Http
@foreach(var login in db.Login.Items)
{
	<div>
		<span>Username: @login.Username</span>
		<span>Password: @login.Password</span>
	</div>
}
@code {
	Login DefaultLogin { get; set; }

	override protected async Task OnInitializedAsync()
	{
		// var test = await Http.GetFromJsonAsync<DataBase>("https://localhost:7160/api/data");
		// if (test != null)
		// 	db.UpdateStoredDB(test);
		//  DefaultLogin = new Login() { Username = "admin", Password = "password" };
		//  db.Login.Items.Add(DefaultLogin);
		//  await Http.PostAsJsonAsync("https://localhost:7160/api/data", db);
	}

	public void OnLogin()
	{
		
	}
}
