@using WordleAPI
@using WordleAPI.Classes
@page "/"
@inject DataBase db
@inject Services.SpinnerService SpinnerService

@foreach(var login in db.Login.Item)
{
	<div>
		<span>Username: @login.Username</span>
		<span>Password: @login.Password</span>
	</div>
}
@code {
	Login DefaultLogin { get; set; }

	override protected void OnInitialized()
	{

		DefaultLogin = new Login() { Username = "admin", Password = "password" };
		db.Login.Item.Add(DefaultLogin);
		db.SaveToDatabase();
		foreach (var login in db.Login.Item)
		{
			Console.WriteLine($"Username: {login.Username}, Password: {login.Password}");
		}
	}

	public void OnLogin()
	{
		SpinnerService.Show();
		foreach (var login in db.Login.Item)
		{
			if (login.Username == DefaultLogin.Username && login.Password == DefaultLogin.Password)
			{
				//TODO: Allow entry

				break;
			}
		}
		SpinnerService.Hide();
	}
}
