@using CS471Wordle1.Pages.Components
@using WordleAPI.Classes
@using WordleBackend.Enums
@inject Login UserLogin

@if(UserLogin.UserPermission != Permission.Guest)
	{
		<div class="top-left">       
			<StatsViewer />
		</div>
		
	}

<style>
    .top-left {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 9999;
    }
</style>
@code {

}
