@page "/test"
@inject HttpClient Http

<button @onclick="Load">Load</button>
<button @onclick="Save">Save</button>
<var>@data.Name</var>
@code {
    MyData data = new();

    async Task Load()
    {
        data = await Http.GetFromJsonAsync<MyData>("https://localhost:7160/api/data");
    }

    async Task Save()
    {
        await Http.PostAsJsonAsync("https://localhost:7160/api/data", data);
    }

    public class MyData
    {
        public string Name { get; set; } = "test";
    }
}
