@* @page "/wordle" *@

@using System.Text.Json
@using WordleAPI
@using WordleAPI.Classes;
@using CS471Wordle1.Pages.Components
@using WordleBackend.Classes
@using WordleBackend.Enums
@inject Services.SpinnerService SpinnerService
@inject Login UserLogin
@inject DataBase db
@inject HttpClient Http
@inject NavigationManager NavigationManager
@* @inject HttpClient Http *@

<PageTitle>Wordle</PageTitle>

@if (correctWord != null)
{
	<WordleKeyboardHost Solution=@correctWord OnGameCompleted="completeDaily" challenge="challenge" gameMode="gameMode"/>
	if(challenge == Challenge.None || challenge == Challenge.HardMode)
	{
		<div class="top-right">
			<RobotWordle Solution=@correctWord Hide=@HideRobot />
		</div>

	}
	@if (showContinue)
	{
		<button class="btn btn-success btn-sm me-2" @onclick="Continue">Continue</button>
	}
}
else
{
	<div class="text-center mt-5">
		@Error
	</div>

}
<style>
	.top-right {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 9999;
	}

	
</style>

@code {
	[Parameter]
	public GameMode gameMode { get; set; }
	[Parameter]
	public Challenge challenge { get; set; }

	public string Error { get; set; } = "";

	private bool showContinue {get; set; } = false;

	string? correctWord{ get;set; }
	WordResponse? dailyWord { get; set; }

	bool HideRobot { get; set; } = true;
	override protected async Task OnInitializedAsync()
	{
		SpinnerService.Show();
		await db.LoadData(Http);
		try
		{


			if (gameMode == GameMode.Daily)
			{
				var word = db.DailyWords.First(w => w.Date == DateOnly.FromDateTime(DateTime.Today));
				if (word != null)
				{
					dailyWord = new WordResponse() { Solution = word.Word };
				}
				else
				{
					Error = "Today's word has not been set yet. Please check back later.";
				}
			}
			else
			{
				var availableWords = Utilitys.GetEmbeddedTextResource("WordleWords.txt")
					.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries)
					.Select(w => w.Trim().ToLowerInvariant())
					.Where(w => w.Length == 5)
					.ToList();
				Random rand = new Random();

				dailyWord = new WordResponse() { Solution = availableWords[rand.Next(availableWords.Count())] };
			}
			var date = DateTime.Today.ToString("yyyy-MM-dd");
			if (dailyWord != null)
			{ 
				correctWord = dailyWord.Solution;
			}
		}
		catch (Exception ex)
		{
			Console.Error.WriteLine(ex);
		}

		//await stats.LoadAsync();
		SpinnerService.Hide();
	}

	public class WordResponse
	{
		public string Solution { get; set; }
	}

	public void completeDaily()
	{
		HideRobot = false;
		//TODO need button to show up to continue to next game if not daily
		showContinue = true;

	}

	public async Task Continue()
	{
		if (gameMode == GameMode.Daily)
		{
			NavigationManager.NavigateTo("/");
		}
		HideRobot = true;
		showContinue = false;
		correctWord = null;
		StateHasChanged();
		await OnInitializedAsync();
	}
}