@page "/"
@using WordleAPI
@using WordleAPI.Classes
@inject Services.SpinnerService SpinnerService
@inject DataBase db
@inject HttpClient Http
@inject Login UserLogin
@inject NavigationManager NavigationManager
<h3>Login</h3>

<div>
    <label>Username:</label>
    <input @bind="username" />

    <label>Password:</label>
    <input type="password" @bind="password" />

    <button @onclick="Login">Login</button>
</div>

<p>@message</p>

@code {
    string username = "";
    string password = "";
    string message = "";

    async Task Login()
    {
        if (string.IsNullOrWhiteSpace(username) || string.IsNullOrWhiteSpace(password))
        {
            message = "Please enter both fields.";
            return;
        }

        message = $"Attempting login for {username}";
        SpinnerService.Show();
        var test = await Http.GetFromJsonAsync<DataBase>("https://localhost:7160/api/data");
        if (test != null)
            db.UpdateStoredDB(test);
        foreach (var login in db.Login)
        {
            if (login.Username == username && login.Password == password)
            {
				UserLogin.SetUserLogin(login);
                SpinnerService.Hide();
                NavigationManager.NavigateTo("/wordle");
                break;
            }
        }
        SpinnerService.Hide();
    }
}
