@inherits LayoutComponentBase
@using WordleAPI
@using WordleAPI.Classes
@inject Login UserLogin
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu LoggedIn="UserLogin.UserPermission != WordleBackend.Enums.Permission.Guest" />
    </div>

    <main>
        <div class="top-row px-4">
            <div>@UserLogin.Username</div>
            @if (UserLogin.UserID ==0)
            {
                <button class="ml-auto" @onclick="GOTOLogin">Login</button>
            }
            else
            {
                <button class="ml-auto" @onclick="Logout">Logout</button>
            }
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public bool LoggedIn { get; set; } = false;
    void GOTOLogin()
    {
        StateHasChanged();
        NavigationManager.NavigateTo("/login");
        
    }
    void Logout()
    {
        UserLogin.SetUserLogin(new Login());
        LoggedIn = false;
        StateHasChanged();
        NavigationManager.NavigateTo("/");
        
	}
}