@inherits LayoutComponentBase
@using WordleAPI
@using WordleAPI.Classes
@inject Login UserLogin
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div>@UserLogin.Username</div>
            @if (UserLogin.UserID ==0)
            {
                <button class="ml-auto" @onclick="GOTOLogin">Login</button>
            }
            else
            {
                <button class="ml-auto" @onclick="Logout">Logout</button>
            }
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    void GOTOLogin()
    {
        NavigationManager.NavigateTo("/");
    }
    void Logout()
    {
        UserLogin.SetUserLogin(new Login());
        NavigationManager.NavigateTo("/wordle");
	}
}